#clock {
    position: relative;
}


#clock img {
    position: absolute; 
}
/*Use CSS transform rotation to rotate the hands of the clock.*/



  /*transform: rotate(45deg);
     transform: rotate(180deg);
   transform: rotate(60deg);
  */